---
import Introduction from "./Main/Us.astro";
import Methodology from "./Main/Methodology.astro";
import Valors from "./Main/Valors.astro";
import AcademicLevels from "./Main/InstitutionalGestion.astro";
import SportsAndArts from "./Main/Policy.astro";
import Testimonials from "./Main/Testimonials.astro";
import CallToAction from "./Main/Votes2026.astro";
import Contact from "./Main/Contact.astro";
import HimnoSchool from "./Main/HimnoSchool.astro";
---

<main>
  <!-- Section 1: Introduction (Text Left, Image Right) -->
  <Introduction />

    <!-- Section 2: Methodology (Image Left, Text Right) - Gray Background -->
  <Methodology />

  <!-- Section 3: Values (Cards) -->
  <Valors />

  <!-- Section 4: Academic Levels (Text Left, Image Right) -->
  <AcademicLevels />

  <!-- Section 5: Sports & Arts (Image Left, Text Right) -->
  <SportsAndArts />

  <!-- Section 6: Himno Institucional (Image Left, Text Right) -->
  <HimnoSchool />

  <!-- Section 7: Testimonials (Centered) -->
  <Testimonials />

  <!-- Section 8: Contact -->
  <Contact />

  <!-- Section 7: Call to Action -->
  <CallToAction />
</main>