---
---

<nav class="absolute top-0 left-0 w-full z-20 p-6 flex justify-between items-center text-white">
  <div class="text-xl font-semibold tracking-tight flex items-center gap-2">
		<img src="/escudo.webp" alt="Escudo IER LA AURORA" class="w-10 h-10">
		IER LA AURORA
	</div>
  <!-- Simple Menu Placeholder -->
  <div class="hidden md:flex space-x-6 font-medium">
    <a href="#inicio" class="hover:text-[#FCE300] transition-colors">Inicio</a>
    <a href="#nosotros" class="hover:text-[#FCE300] transition-colors">Nosotros</a>
    <a href="#valores" class="hover:text-[#FCE300] transition-colors">Valores</a>
    <a href="#contacto" class="hover:text-[#FCE300] transition-colors">Contacto</a>
  </div>
</nav>