---

---

<section class="py-24 px-6 bg-[#FCE300] relative overflow-hidden">
  <div class="absolute inset-0 bg-white/10 bg-[url('/pattern.png')] opacity-20">
  </div>
  <div class="max-w-4xl mx-auto text-center relative z-10 scroll-reveal-up">
    <h2 class="text-4xl md:text-6xl font-bold text-[#000080] mb-8">
      Elecciones 2026
    </h2>
    <p class="text-xl text-[#000080]/80 mb-10 max-w-2xl mx-auto">
      Vota por quien va a ser el proximo personero y contralor estudiantil de la IER La Aurora
    </p>
    <div class="flex flex-col sm:flex-row gap-4 justify-center">
      <a href=""> <!--/vote-candidates -->
        <button 
          disabled
          class="bg-[#000080] text-white px-10 py-5 rounded-full font-bold text-xl shadow-xl hover:bg-[#0A192F] hover:scale-105 transition-all duration-300"
        >
          Vota por tu candidato
        </button>
      </a>
    </div>
  </div>
</section>
